*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;

}

#Home{

width: 100%;
height: 130vh;


}

.Nav{

display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 75px;
padding: 0 30px;
box-shadow:0 4px 15px rgba(0, 0, 0, 0.059);
border-bottom: 2px solid rgba(0, 0, 0, 0.404);

}

.Nav h4{

cursor: pointer;

}

.Innerleft a{
margin-left: 15px;
text-decoration: none;
color: black;

}
.Innerleft :hover{
    color: brown;
}

.Page{

margin-top: 30px;

}

.Page h1{

font-size:600%;
font-weight: 100;
margin-left: 180px;

}

.second {

display: flex;
padding: 0 156px;

}

.Page p{

display: flex;
padding: 0 336px;
margin-top: 25px;

}

.Page button{


margin-left: 800px;
margin-bottom: 30%;


}


.Para {
display: flex;
align-items: center;
margin-left: 336px;
gap: 55px;
margin-top: 15px;

}

.Para button{

padding: 15px 80px;
background-color: black;
color: white;
border-radius: 30px;
cursor: pointer;
border: none;

} 

Para button :hover{
    color: azure;

}

.Image{

display: flex;


}
.Image img{

width: 100%;
margin-top: 50px;




}


/* sean  */







*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.Innerleft a{
margin-left: 15px;
text-decoration: none;
color: black;



}

.two{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;

}
#two ,button{
     padding: 15px 120px;
     background-color: black;
     color: aliceblue;
     border-radius: 40px;
     border: none;
     margin-right: 100px;
     
}
#button :hover{
    color: aliceblue;
}

.him{
    width: 100%;
    height: 100vh;
   
}
.me{
    background-color: aliceblue;
    justify-content:flex-start;
    align-items:center;
    justify-content: space-between; 
   
}

him, h1{
    color: black;
}

me ,a {
    margin-right: 10px;
}
me, h4{
    margin-left:10px ;
}

.book{
    margin-left: 70px;
    font-size: 150%;
    margin-top: 55px;
}

.one img{
    height: 380px;
    width: 680px;
    
   
}

.three img{
    height: 380px;
    width: 380px;
    
}


.im{
    display: flex;
    gap: 100px;
    margin-left: 4.5%;
    margin-top: 60px;
    
    
}

.line {
    border: none;
    height: 2px;
    background-color: black;
    width: 40%;
    margin-left: 70px;
}

.rayini{
    display: flex;
    justify-content: space-between;
    margin-right: 540px;
    margin-top: 10px;
}
 









